body{
    background: #efeff4;
    font-size: 0.8rem;
}
.form_div{
    margin-top: 30px;
}
button{
    font-size: 0.9rem !important;
}
.input_div{
    display: flex;
    background:white;
    padding: 10px 20px;
    margin-top: 30px;
}
.input_div > label{
    width: 100px;
    margin:0;
    letter-spacing: 5px;
}
.input_div > input{
    flex: 1;
    border: none;
    outline: none
}
.input_div > textarea{
    width: 100%;
    border:none;
    outline: none;
    resize:none;
}
.button_div{
    margin-top: 30px;
    text-align: center;
    margin-bottom:30px;
}
.button_div > button{
    width: 90%;
}
.input_music{
    margin-top: 0;
    border-left: 1px #dee2e6 solid;
    border-right: 1px #dee2e6 solid;
}
.input_qh{
    margin-top: 30px;
}
.input_qh > li{
    flex: 1;
    text-align: center;
}
.textarea_div{
    border: 1px #dee2e6 solid;
    margin-top: 0;
}
.want_say{
    background: white;
    border-left: 1px #dee2e6 solid;
    border-right: 1px #dee2e6 solid;
}
.want_say > div{
    padding:10px 20px;
    border-bottom: 1px #dee2e6 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.want_say > div i {
    color: red;
    display: none;
}
.want_say > div:last-child{
    border-bottom: 0;
}
.dis_block{
    display: block !important;
}